article {
  width: 1051px;
}

section {
  margin-top: 77px;
}

.all-quizzes h2,
.user-quizzes h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: black;
}

.user-quizzes div {
  display: flex;
  align-items: center;
}

.user-quizzes .new-quiz {
  font-size: 31px;
  color: #ec362d;
  margin-left: 15px;
  cursor: pointer;
}

.user-quizzes .new-quiz:hover,
.user-quizzes .new-quiz:focus-visible {
  outline: none;
  filter: brightness(2);
}

.create-quiz {
  width: 100%;
  min-width: 341px;
  height: 181px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  border: 1px dashed #d5d5d5;
  border-radius: 5px;
  box-sizing: border-box;
}

.create-quiz span {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #b9b9b9;

  width: 220px;
  text-align: center;
}

.create-quiz button {
  border: 1px dashed #ec362d;
  box-sizing: border-box;
  border-radius: 50px;
  background-color: inherit;

  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #ec362d;

  width: 151px;
  height: 40px;
}

.create-quiz button:hover,
.create-quiz button:focus-visible {
  outline: none;
  border: none;
  color: white;

  background-color: #ec362d;
}

.quiz-list {
  display: flex;
  flex-wrap: wrap;
}

.quiz-list .quiz {
  min-width: 340px;
  width: 340px;
  height: 180px;

  position: relative;
  margin: 15px 15px 0 0;

  cursor: pointer;
}

.quiz-list .quiz img {
  width: 100%;
  height: 100%;
  border-radius: 5px;

  object-fit: cover;
}

.quiz-list .quiz h4 {
  width: 304px;

  bottom: 15px;
  left: 18px;
  position: absolute;
  z-index: 1;

  font-weight: 400;
  font-size: 19px;
  line-height: 22px;
  color: white;
}

.quiz-list .quiz .gradient-overlay {
  width: 100%;
  height: 100%;
  border-radius: 5px;

  position: absolute;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
}

.quiz-list .quiz:hover,
.quiz-list .quiz:focus-visible {
  outline: none;
}

.quiz-list .quiz:hover .gradient-overlay,
.quiz-list .quiz:focus-visible .gradient-overlay {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(41, 41, 41, 0.5) 64.58%, rgb(41, 41, 41) 100%);
}

/* 1087px: margens laterais da página + tamanho da grid de quizzes (36 + 1051) */
@media only screen and (min-width: 1087px) {
  .quiz-list .quiz:nth-child(3n) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 1100px) {
  main {
    width: 100%;
    margin: 69px 18px;
  }

  section {
    margin-top: 35px;
  }

  .user-quizzes div {
    width: 100%;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 768px) {
  .quiz-list .quiz:nth-child(even) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 425px) {
  .quiz-list .quiz {
    margin-right: 0;
  }
}
